 <div class="education-container container-block">
<h2 class="container-block-title">YÜKSEK ÖĞRENİM</h2>
<div class="item">
    <h4 class="degree">MSc in Information Technology</h4>
    <h5 class="meta">Carnegie Mellon University</h5>
    <div class="time">2013 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Computer Engineering</h4>
    <h5 class="meta">Dokuz Eylul University</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
