 <div class="education-container container-block">
<h2 class="container-block-title">YÜKSEK ÖĞRENİM</h2>
<div class="item">
    <h4 class="degree">Yüksek Lisans, Bilişim Teknolojileri</h4>
    <h5 class="meta">Carnegie Mellon Üniversitesi</h5>
    <div class="time">2013 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Lisans, Bilgisayar Mühendisliği</h4>
    <h5 class="meta">Dokuz Eylül Üniversitesi</h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
