<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>DENEYİM</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DevOps Mühendisi</h3>
                            <div class="time">Ocak 2017 - Şimdi</div>
                        </div><!--//upper-row-->
                        <div class="company">Apple Inc., Sunnyvale, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>TBD</p>
                        <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Araştırma Görevlisi</h3>
                            <div class="time">Eylül 2015 - Ocak 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Rize Üniversitesi, Rize</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>TBD</p>
                        <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Araştırma Görevlisi</h3>
                            <div class="time">Eylül 2014 - Şubat 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">NASA Ames Araştırma Merkezi, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>TBD</p>
                        <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Yazılım Mühendisi - Stayjer</h3>
                            <div class="time">Haziran 2014 - Eylül 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Quixey, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>TBD</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Yazılım Geliştiricisi</h3>
                            <div class="time">Eylül 2012 - Haziran 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Open Business Software Solutions, İstanbul</div>
                    </div><!--//meta-->
                    <div class="details">
                          <p>Telekomünikasyon ve bankacılık şirketlerinde taşeron geliştirici olarak kurumsal uygulamalar geliştirdim. Katkıda bulunduğum iki ana proje Turkcell Mobil Satış Otomasyon ve Aktifbank Sigorta Sistemi uygulamalıdır. <a class="to-project" href="#MSFA">Mobile Sales Force Automation (MSFA)</a> and <a class="to-project" href="#EBS">Enterprise Brokerage System (EBS)</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
