<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>DENEYİM</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">DevOps Mühendisi</h3>
                            <div class="time">Ocak 2017 - Şimdi</div>
                        </div><!--//upper-row-->
                        <div class="company">Apple Inc., Sunnyvale, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Online mağaza organizasyonunda süreç yönetimi, yazılımsal araçların yönetimi, bakımı ve yazılım otomasyonu üzerinde DevOps mühendisi olarak çalışmaktayım. Daha fazla bilgi belirli bir zaman sonra güncellenecektir.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Araştırma Görevlisi</h3>
                            <div class="time">Eylül 2015 - Ocak 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Rize Üniversitesi, Rize</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1416 numaralı kanun kapsamında yurtdışında burslu eğitim hakkı kazanmama karşılık zorunlu hizmet olarak araştırma görevliliği yaptım. Eğitim Fakültesi'ne atanmamın sebebi aslen atanmış olduğum Yazılım Mühendisliği'nin henüz aktif olarak açılmamış olmasıydı.</p>
                        <p>Buradaki görevim süresince gündelik bir çok işi otomatize ederek katkıda bulundum. Dönemlik ders planlaması, vize ve final sınavlarının otomatik organizasyon programı gibi çalışmaları yürüttüm. Bu otomasyona dair Laravel yazılım çatısı altında bir web uygulaması geliştirmeme rağmen zaman ve bütçe sorunundan ötürü devamı getirilemedi.</p>
                        <p>Ek olarak, fakülte bünyesinde düzenlenen uluslarlararası bir sempozyum için mobil uygulama geliştirdim. Ayrıca, Programlamaya Giriş, Veri Tabanı Yönetim Sistemleri ve Google Servisleri derslerinde asistan olarak çalıştım.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Araştırma Görevlisi</h3>
                            <div class="time">Eylül 2014 - Şubat 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">NASA Ames Araştırma Merkezi, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>CMU'daki eğitimime paralel olarak NASA Ames Araştırme Merkezi bünyesinde yarı zamanlı araştırmacı olarak çalıştım. Uçuş simulüsyonu aracı olan bir yazılımın Eclipse <a class="to-project" href="#JKIND">eklenti</a>si ve raporlaması üzerine çalışmalar yaptım.</p>
                        <p>Ayrıca, <a class="to-project" href="#PRACTICUM">bitirme tezi</a>mi yine NASA AMES içerisinde başka bir yönetici liderliğinde tamamladım.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Yazılım Mühendisi - Stayjer</h3>
                            <div class="time">Haziran 2014 - Eylül 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Quixey, Mountain View, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>DevOps ekibi içerisinde, şirketin canlı ortamlarında kullanılan AWS bulut sistemine güvenlik açık denetleyici ve uyarıcı <a class="to-project" href="#NIGHTSWATCH">uygulaması</a>nın temellerini attım ve entegrasyonunu sağladım. </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Yazılım Geliştiricisi</h3>
                            <div class="time">Eylül 2012 - Haziran 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Open Business Software Solutions, İstanbul</div>
                    </div><!--//meta-->
                    <div class="details">
                          <p>Telekomünikasyon ve bankacılık şirketlerinde geliştirici olarak kurumsal uygulamalar üzerinde çalıştım. Katkıda bulunduğum iki ana proje Turkcell Mobil Satış Otomasyon ve Aktifbank Sigorta Sistemi uygulamalıdır. <a class="to-project" href="#MSFA">Mobile Sales Force Automation (MSFA)</a> and <a class="to-project" href="#EBS">Enterprise Brokerage System (EBS)</a>.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
