<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>PROJELER</h2>
    <div class="intro">
      <p>TBD</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div>
    <div class="item">
        <span id="NIGHTSWATCH" class="project-title">Night's Watch</span> - <span class="project-tagline">
          Security auditing tool aimed for preventing incident-prone configurations for production environment. My responsibilities included:</span>
        <p class="project-item">Development of initial phase of production security automation console that audits and alerts operations team in case of predefined security violations on Amazon Web Services</p>
        <p class="project-item">Focus on EC2 Security Groups and IAM Roles and creating logical connection and relation between teams and projects in the company and also exposing the resources and policies that are correlated with both functional teams and individual employees</p>
        <p class="project-item">Utilizing languages, technologies and tools such as Python, Boto, Flask, MySQL, Jenkins, Puppet and Github</p>
        <p class="contributors">Contributors</p>
        <a href="https://www.linkedin.com/in/addumb" target="_blank"><img class="contributor-image" title="Adam Gray" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/1d2/139/22acb3a.jpg"></a>
    </div>
    <div class="item">
        <span id="TWITTER" class="project-title">Twitter Analizi Web Servisi Projesi</span> - <span class="project-tagline">Bulut Bilişim dersinde büyük(yığın) veri ve bulut teknolojilerine odaklanarak Twitter veri analizi yapan dönem projesi. Katkılarım:</span>
        <p class="project-item">Analizlerde önemli rol oynayan HBase ve MySQL sunucularının tasarımı, entegrasyonu ve optimizasyonu</p>
        <p class="project-item">Çıkart- Dönüştür- Yükle(ETL) sürecinin her iki veri tabanı için geliştirilmesi ve işlenmesi</p>
        <p class="project-item">Gelişmiş ETL için Hadoop MapReduce geliştirilmesi</p>
        <p class="project-item">Python ve Java API'leri kullanarak EC2, S3, EMR, DynamoDB ve Load Balancing gibi birçok AWS teknolojisinden yararlanma</p>
        <p class="contributors">Ekip</p>
        <a href="https://www.linkedin.com/in/abhishek-mukhopadhyay-51791033" target="_blank"><img class="contributor-image" title="Abhishek Mukhopadhyay" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/005/040/183/22a4bde.jpg"></a>
        <a href="https://www.linkedin.com/in/pratibhadohare" target="_blank"><img class="contributor-image" title="Pratibha Anjali" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/1/005/042/063/048cbd4.jpg"></a>
    </div>
    <div class="item">
        <span id="EBS" class="project-title">Kurumsal Komisyon Sistemi (EBS)</span> - <span class="project-tagline">Sigorta şirketleri ve müşteriler arası aracı sigorta satış sistemi. En çok ilgilendiğim çalışmalar:</span>
        <p class="project-item">Araç, sağlık, yolculuk ve emlak sigorta ürünlerinin satıcı sigorta şirketlerine teminini sağlayan sistemin tasarımı, geliştirilmesi ve entegrasyonu</p>
        <p class="project-item">Çok katmanlı ve mantıksal-ayrık çalışan servis sisteminin dizaynı, geliştirilmesi ve entegrasyonu</p>
        <p class="project-item">Java (J2EE), Graymound, Hibernate, Oracle PL/SQL ve JBoss Uygulama Sunucusu gibi teknolojilerden nesne tabanlı tasarım, geliştirme gibi yöntemler ile yararlanılması</p>
        <p class="project-item">Eclipse, JUnit, Oracle, SOAP, SoapUI, HTTP, JAXB, Log4J ve SVN teknolojileri ve araçlarını kullanma</p>
        <p class="contributors">Ekip</p>
        <a href="https://www.linkedin.com/in/sahinutar" target="_blank"><img class="contributor-image" title="Şahin Utar" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAMeAAAAJGNjOThjMzA3LTMwZDAtNDdjMS04ZjZkLThjNTUwNGY3Mjg2Yg.jpg"></a>
        <a href="https://tr.linkedin.com/in/serdar-kılıçsel-a3663840" target="_blank"><img class="contributor-image" title="Serdar Kılıçsel" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/005/09e/02d/39e3015.jpg"></a>
        <a href="https://www.linkedin.com/in/veysiertekin" target="_blank"><img class="contributor-image" title="Veysi Ertekin" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAxdAAAAJDk3ODY5ODY4LWEyYzctNGJlNS1iMjYyLTBiMGM4MjUzMGFiOQ.jpg"></a>
        <a href="https://www.linkedin.com/in/ebru-beşenk-444a742" target="_blank"><img class="contributor-image" title="Ebru Beşenk" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAjcAAAAJDVjYzE4NDIwLWIwMjktNDFjZS1iZWNhLWE0NzE0ZjJmNGE0Zg.jpg"></a>
        <a href="https://www.linkedin.com/in/seyfi" target="_blank"><img class="contributor-image" title="Seyfettin Kulgu" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/005/02f/330/0b02f4c.jpg"></a>
        <a href="https://www.linkedin.com/in/hasanozkan" target="_blank"><img class="contributor-image" title="Hasan Özkan" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAwlAAAAJGIyZTNhODk1LTcxZjQtNDg5Ni04MzY5LTVkM2NlYjY0M2QxOA.jpg"></a>
        <a href="https://www.linkedin.com/in/veysel-tosun-b27a652b" target="_blank"><img class="contributor-image" title="Veysel Tosun" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAhZAAAAJGRhYmJhOGZkLTg4NTMtNDEyZS04NTFiLTJhODcwNzkyMTg2Yw.jpg"></a>
        <a href="https://www.linkedin.com/in/fatih-karakoç-10063b54" target="_blank"><img class="contributor-image" title="Fatih Karakoç" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/1b3/346/361da09.jpg"></a>
    </div>
    <div class="item">
        <span id="MSFA" class="project-title"> Turkcell Mobil Satış Otomasyon (MSFA)</span> - <span class="project-tagline">J2EE ve Primefaces teknolojileri üzerinde geliştirilmiş sunucu taraflı çalışan bir satış uygulaması. Başlıca sorumluluklarım:</span>
        <p class="project-item">Uygulama içerisinde bulunan 'Risk' modülünün dizaynı, geliştirilmesi ve entegrasyonu</p>
        <p class="project-item">Bu modülün Java (J2EE), PrimeFaces, XML ve Web Logic Server teknolojileri kullanılarak Nesne Tabanlı Programlama çatısı altında geliştirilmesi</p>
        <p class="project-item">Yine bu modülün kalite kontrol ve güncelleme bakımının yapılması</p>
        <p class="project-item">Eclipse, JUnit, Oracle ve Clear Case gibi teknolojilerden yararlanma</p>
        <p class="contributors">Ekip</p>
        <a href="https://www.linkedin.com/in/yasakbulut" target="_blank"><img class="contributor-image" title="Yasa Akbulut" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAhKAAAAJGYzZjUzMThmLTdhNWYtNDI2Yi1iOTFjLTcxMzU4ODNjNWFjZA.jpg"></a>
        <a href="https://www.linkedin.com/in/dorukdestan" target="_blank"><img class="contributor-image" title="Destan Sarpkaya" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAnNAAAAJDY0ZGE2Zjk3LTRhMDUtNDAzNy05YTYzLWFkMmE4YWMyMjcxMA.jpg"></a>
        <a href="https://www.linkedin.com/in/cuneytyesilkaya" target="_blank"><img class="contributor-image" title="Cüneyt Yeşilkaya" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/7/000/238/387/3c7ee58.jpg"></a>
        <a href="https://www.linkedin.com/in/mfatihercik" target="_blank"><img class="contributor-image" title="Mehmet Fatih Ercik" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/000/1e5/281/0642fd7.jpg"></a>
        <a href="https://www.linkedin.com/in/aykutakin" target="_blank"><img class="contributor-image" title="Aykut Akın" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/005/09b/320/396c426.jpg"></a>
        <a href="https://www.linkedin.com/in/nadirkirgiz" target="_blank"><img class="contributor-image" title="Nadir Kırgız" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/2/000/01d/1f7/32af148.jpg"></a>
        <a href="https://www.linkedin.com/in/handegokoglu" target="_blank"><img class="contributor-image" title="Hande Gökoğlu" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/4/005/033/0e3/162e731.jpg"></a>
    </div><!--//item-->
</section><!--//section-->
