<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>PROJELER</h2>
    <div class="intro">
      <p>TBD</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span id="MSFA" class="project-title"> Turkcell Mobil Satış Otomasyon (MSFA)</span> - <span class="project-tagline">J2EE ve Primefaces teknolojileri üzerinde geliştirilmiş sunucu taraflı çalışan bir satış uygulaması. Başlıca sorumluluklarım:</span>
        <p class="project-item">Uygulama içerisinde bulunan 'Risk' modülünün dizaynı, geliştirilmesi ve entegrasyonu</p>
        <p class="project-item">Bu modülün Java (J2EE), PrimeFaces, XML ve Web Logic Server teknolojileri kullanılarak Nesne Tabanlı Programlama çatısı altında geliştirilmesi</p>
        <p class="project-item">Yine bu modülün kalite kontrol ve güncelleme bakımının yapılması</p>
        <p class="project-item">Eclipse, JUnit, Oracle ve Clear Case gibi teknolojilerden yararlanma</p>
        <p class="contributors">Ekip</p>
        <a href="https://www.linkedin.com/in/yasakbulut" target="_blank"><img class="contributor-image" title="Yasa Akbulut" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAhKAAAAJGYzZjUzMThmLTdhNWYtNDI2Yi1iOTFjLTcxMzU4ODNjNWFjZA.jpg"></a>
        <a href="https://www.linkedin.com/in/dorukdestan" target="_blank"><img class="contributor-image" title="Destan Sarpkaya" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAnNAAAAJDY0ZGE2Zjk3LTRhMDUtNDAzNy05YTYzLWFkMmE4YWMyMjcxMA.jpg"></a>
        <a href="https://www.linkedin.com/in/cuneytyesilkaya" target="_blank"><img class="contributor-image" title="Cüneyt Yeşilkaya" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/7/000/238/387/3c7ee58.jpg"></a>
        <a href="https://www.linkedin.com/in/mfatihercik" target="_blank"><img class="contributor-image" title="Mehmet Fatih Ercik" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/6/000/1e5/281/0642fd7.jpg"></a>
        <a href="https://www.linkedin.com/in/aykutakin" target="_blank"><img class="contributor-image" title="Aykut Akın" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/005/09b/320/396c426.jpg"></a>
        <a href="https://www.linkedin.com/in/nadirkirgiz" target="_blank"><img class="contributor-image" title="Nadir Kırgız" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/2/000/01d/1f7/32af148.jpg"></a>
        <a href="https://www.linkedin.com/in/handegokoglu" target="_blank"><img class="contributor-image" title="Hande Gökoğlu" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/4/005/033/0e3/162e731.jpg"></a>
    </div><!--//item-->
</section><!--//section-->
