<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>PROJELER</h2>
    <div class="intro">
      <p>TBD</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">TBD</a></span> - <span class="project-tagline">TBD</span>
    </div><!--//item-->
</section><!--//section-->
